<ion-content style="background-color:white;" ng-controller="AlmacenesController">
    <div class="bar bar-header bar-dark" style="background-color:black">
            <i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalAlmacenes.hide();"></i>
            <h2 class="title" style="font-size:16px; text-align:left; margin-left:15%;">Almacenes</h2>
    </div>
    <div class="bar bar-subheader bar-dark" style="background-color:#222323;">    
            <h1 class="title" style="text-align:left; margin-left:15%; font-size:16px;">{{Articulo.ItemCode}}</h1>
    </div>
    <div style="height:85px;"></div>

    <a class="item item-icon-left" style="padding-top:20px;" ng-click="LargoCarta('detallealmacen',almacen.WhsCode)" ng-repeat="almacen in listaAlmacenes">
        <div class="cuadro" style="margin-left: -15%;">{{almacen.n1}}</div>
        <div class="cuadro" style="margin-left:-4%;">{{almacen.n2}}</div>
        <span style="margin-left:10px;">{{almacen.WhsName}}</span>
    </a>

</ion-content>
