<ion-view name="articulo-view" ng-init="Inicio()">
    <div class="list list-inset" id="Carta" style="height: 600px;">
        <div class="bar bar-header bar-dark" style="background-color:black">
            <h2 class="title" style="font-size:16px; text-align:left; margin-left:10%;">DUES</h2>
        </div>
        <div style="height:45px;"></div>
        <a class="item item-thumbnail-left" ng-click="ImagenZoom()">
                <img src="{{Articulo.ImagenBase64}}" style="max-width: 99px;max-height: 91px;">
                <div class="row">
                    <div class="col">
                        <h3>Codigo SAP</h3>
                        <p>{{Articulo.ItemCode}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Codigo de barras</h3>
                        <p>{{Articulo.CodeBars}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Descripción</h3>
                        <p style="white-space: normal;">{{Articulo.ItemName}}</p>
                    </div>
                </div>
        </a>
        <!--Script para contenido de popup-->
        <script type="text/ng-template" id="ImagenZoom.html">
            <center>
                <div>
                    <img src="{{Articulo.ImagenBase64}}" style="max-width: 100%;">
                </div>
            </center>
        </script>
        <ion-nav-view name="submenu"></ion-nav-view>
    </div>
  </ion-view>