<ion-content style="background-color:white;" ng-controller="DatosInventarioController">
    <div class="bar bar-header bar-dark" style="background-color:black">
            <i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalDatosInventario.hide();"></i>
            <h2 class="title" style="font-size:16px; text-align:left; margin-left:15%;">Datos de Inventario</h2>
    </div>
    <div class="bar bar-subheader bar-dark" style="background-color:#222323;">    
            <h1 class="title" style="text-align:left; margin-left:15%; font-size:16px;">{{Articulo.ItemCode}}</h1>
    </div>
    <div style="height:85px;"></div>
    <a class="item">
            <h2>Costo del Artículo:</h2>
            <p>{{datosInventario.AvgPrice}}</p>
    </a>  
    <a class="item">
            <h2>Código Proveedor:</h2>
            <p>{{datosInventario.CardCode}}</p>
    </a>  
    <a class="item item-icon-left" style="padding-top:20px;" ng-click="LargoCarta('listaalmacenes')">
        <i class="icon ion-cube"></i>
        Almacenes
    </a>

</ion-view>