<ion-view name="datoscompra-view" ng-init="Inicio()">
        <a class="item">
                <h2>Descripción de Compras:</h2>
                <p>{{Articulo.FrgnName}}</p>
        </a>  
        <a class="item">
                <h2>Codigo Proveedor:</h2>
                <p>{{Articulo.CardCode}}</p>
        </a>  
        <a class="item">
                <h2>Nombre Proveedor:</h2>
                <p>{{Articulo.CardName}}</p>
        </a>   
        <a class="item">
                <h2>Ancho:</h2>
                <p>{{Articulo.BWidth1}}</p>
        </a>   
        <a class="item">
                <h2>Lista de Precio Proveedor:</h2>
                <p>{{Articulo.SHeight1}}</p>
        </a>   
        <a class="item">
                <h2>Cantidad de Pedido Minima:</h2>
                <p>{{Articulo.MinLevel}}</p>
        </a>   
</ion-view>