<ion-content style="background-color:white;" ng-controller="DatosGeneralesController">
        <div class="bar bar-header bar-dark" style="background-color:black">
                <i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalDatosCompra.hide();"></i>
                <h2 class="title" style="font-size:16px; text-align:left; margin-left:15%;">{{Articulo.ItemCode}}</h2>
        </div>
        <div class="bar bar-subheader bar-dark" style="background-color:#222323;">    
                <h1 class="title" style="text-align:left; margin-left:15%; font-size:16px;">Datos de Compra</h1>
        </div>
        <div style="height:85px;"></div>
        
        <a class="item">
                <h2>Descripción de Compras:</h2>
                <p>{{Articulo.FrgnName}}</p>
        </a>  
        <a class="item">
                <h2>Codigo Proveedor:</h2>
                <p>{{Articulo.CardCode}}</p>
        </a>  
        <a class="item">
                <h2>Nombre Proveedor:</h2>
                <p>{{Articulo.CardName}}</p>
        </a>   
        <a class="item">
                <h2>Ancho:</h2>
                <p>{{Articulo.BWidth1}}</p>
        </a>   
        <a class="item">
                <h2>Lista de Precio Proveedor:</h2>
                <p>{{Articulo.SHeight1}}</p>
        </a>   
        <a class="item">
                <h2>Cantidad de Pedido Minima:</h2>
                <p>{{Articulo.MinLevel}}</p>
        </a>   
</ion-content>