<ion-content style="background-color:white;" ng-controller="DatosGeneralesController">
        <div class="bar bar-header bar-dark" style="background-color:black">
                <i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalDatosGenerales.hide();"></i>
            <h2 class="title" style="font-size:16px; text-align:left; margin-left:15%;">{{Articulo.ItemCode}}</h2>
        </div>
        <div class="bar bar-subheader bar-dark" style="background-color:#222323;">    
            <h1 class="title" style="text-align:left; margin-left:15%; font-size:16px;">Datos Generales</h1>
        </div>
        <div style="height:85px;"></div>
        <a class="item">
                <h2>Grupo de Articulos:</h2>
                <p></p>
        </a>
        <a class="item item-toggle">
            Estado Activo
            <label class="toggle toggle-dark">
                <input type="checkbox" ng-checked="EstadoActivo">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </a>
        <ion-list>        
            <ion-checkbox ng-model="CheckSujetoImpuetos" ng-disabled="true">Sujeto a Impuesto</ion-checkbox>
            <ion-checkbox ng-model="CheckArtInventario" ng-disabled="true">Articulo de Inventario</ion-checkbox>
            <ion-checkbox ng-model="CheckArtVenta" ng-disabled="true">Articulo de Venta</ion-checkbox>
            <ion-checkbox ng-model="CheckArtCompra" ng-disabled="true">Articulo de Compra</ion-checkbox>
            <ion-checkbox ng-model="CheckArtLinea" ng-disabled="true">Articulo de Linea</ion-checkbox>
        </ion-list>
        <a class="item">
                <h2>Comentarios:</h2>
                <p><textarea rows="10" ng-model="Articulo.UserText" style="width:100%"></textarea></p>
        </a>   
</ion-content>