<ion-content style="background-color:white;" ng-controller="DatosVentaController">
        <div class="bar bar-header bar-dark" style="background-color:black">
                <i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalDatosVenta.hide();"></i>
                <h2 class="title" style="font-size:16px; text-align:left; margin-left:15%;">{{Articulo.ItemCode}}</h2>
        </div>
        <div class="bar bar-subheader bar-dark" style="background-color:#222323;">    
                <h1 class="title" style="text-align:left; margin-left:15%; font-size:16px;">Datos de Venta</h1>
        </div>
        <div style="height:85px;"></div>
        <a class="item">
                <h2>Tipo Producto:</h2>
                <p>{{Articulo.U_DD_PRODUCTOS}}</p>
        </a>  
        <a class="item">
                <h2>Estado Dues:</h2>
                <p>{{Articulo.U_ItemEstado}}</p>
        </a>  
        <a class="item">
                <h2>Unidad de Medida:</h2>
                <p>{{Articulo.SalUnitMsr}}</p>
        </a>   
        <a class="item">
                <h2>Ancho:</h2>
                <p>{{Articulo.SWidth1}}</p>
        </a>   
        <a class="item">
                <h2>Altura:</h2>
                <p>{{Articulo.SHeight1}}</p>
        </a>   
        <a class="item">
                <h2>Peso:</h2>
                <p>{{Articulo.SWeight1}}</p>
        </a>   
        <a class="item">
                <h2>Volumen:</h2>
                <p>{{Articulo.SVolume}}</p>
        </a>   
        <a class="item">
                <h2>Tipo Fijación:</h2>
                <p>{{Articulo.U_DD_FIJACION}}</p>
        </a>   
        <a class="item">
                <h2>Tipo Sistema:</h2>
                <p>{{Articulo.U_DD_SISTEMA}}</p>
        </a>   
        <a class="item">
                <h2>Composición</h2>
                <p>{{Articulo.U_ItemComposicion}}</p>
        </a>   
        <a class="item">
                <h2>Tipo Tejido:</h2>
                <p>{{Articulo.U_ItemTejido}}</p>
        </a>   
        <a class="item">
                <h2>Minimo de Compra:</h2>
                <p>{{Articulo.U_ItemMinimoCompra}}</p>
        </a>   
        <a class="item">
                <h2>Rapport:</h2>
                <p>{{Articulo.U_ItemRapport}}</p>
        </a>   
        <a class="item">
                <h2>Caracteristicas Adicionales:</h2>
                <p>{{Articulo.U_ItemCaracteristica}}</p>
        </a>
</ion-content>