<div class="bar bar-header bar-dark" style="background-color:black">
        <i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalDatosVenta.hide();"></i>
        <h2 class="title" style="font-size:16px; text-align:left; margin-left:15%;">Datos de Venta</h2>
</div>
<div class="bar bar-subheader bar-dark" style="background-color:#222323;" ng-controller="DatosVentaController">    
        <h1 class="title" style="text-align:left; margin-left:15%; font-size:16px;">{{Articulo.ItemCode}}</h1>
</div>
<ion-content style="background-color:white;" ng-controller="DatosVentaController">
        <div style="height:85px;"></div>
        <a class="item">
                <h2>Tipo Producto:</h2>
                <span style="color:gray; float:right; font-weight: bold; font-size: 14px;">   {{Articulo.U_DD_PRODUCTOS}}</span>
        </a>  
        <a class="item">
                <h2>Estado Dues:</h2>
                <span style="color:gray; float:right; font-weight: bold; font-size: 14px;">   {{Articulo.U_ItemEstado}}</span>
        </a>  
        <a class="item">
                <h2>Unidad de Medida:</h2>
                <span style="color:gray; float:right; font-weight: bold; font-size: 14px;">   {{Articulo.SalUnitMsr}}</span>
        </a>   
        <a class="item">
                <h2>Ancho:</h2>
                <span style="color:gray; float:right; font-weight: bold; font-size: 14px;">   {{Articulo.SWidth1}}</span>
        </a>   
        <a class="item">
                <h2>Altura:</h2>
                <span style="color:gray; float:right; font-weight: bold; font-size: 14px;">   {{Articulo.SHeight1}}</span>
        </a>   
        <a class="item">
                <h2>Peso:</h2>
                <span style="color:gray; float:right; font-weight: bold; font-size: 14px;">   {{Articulo.SWeight1}}</span>
        </a>   
        <a class="item">
                <h2>Volumen:</h2>
                <span style="color:gray; float:right; font-weight: bold; font-size: 14px;">   {{Articulo.SVolume}}</span>
        </a>   
        <a class="item">
                <h2>Tipo Fijación:</h2>
                <span style="color:gray;  float:right; font-weight: bold; font-size: 14px;">   {{Articulo.U_DD_FIJACION}}</span>
        </a>   
        <a class="item">
                <h2>Tipo Sistema:</h2>
                <span style="color:gray;  float:right; font-weight: bold; font-size: 14px;">   {{Articulo.U_DD_SISTEMA}}</span>
        </a>   
        <a class="item">
                <h2>Composición</h2>
                <span style="color:gray;  float:right; font-weight: bold; font-size: 14px;">   {{Articulo.U_ItemComposicion}}</span>
        </a>   
        <a class="item">
                <h2>Tipo Tejido:</h2>
                <span style="color:gray;  float:right; font-weight: bold; font-size: 14px;">   {{Articulo.U_ItemTejido}}</span>
        </a>   
        <a class="item">
                <h2>Minimo de Compra:</h2>
                <span style="color:gray;  float:right; font-weight: bold; font-size: 14px;">   {{Articulo.U_ItemMinimoCompra}}</span>
        </a>   
        <a class="item">
                <h2>Rapport:</h2>
                <span style="color:gray;  float:right; font-weight: bold; font-size: 14px;">   {{Articulo.U_ItemRapport}}</span>
        </a>   
        <a class="item">
                <h2>Caracteristicas Adicionales:</h2>
                <span style="color:gray;  float:right; font-weight: bold; font-size: 14px;">   {{Articulo.U_ItemCaracteristica}}</span>
        </a>
</ion-content>