<div class="bar bar-header bar-dark" style="background-color:black">
        <i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalDetalleAlmacen.hide();"></i>
        <h2 class="title" style="font-size:16px; text-align:left; margin-left:15%;">{{articulo.whsCode}} {{articulo.whsName}}</h2>
</div>
<div class="bar bar-subheader bar-dark" style="background-color:#222323;" ng-controller="DetalleAlmacenController">    
        <h1 class="title" style="text-align:left; margin-left:15%; font-size:16px;">{{Articulo.ItemCode}}</h1>
</div>
<ion-content style="background-color:white;" ng-controller="DetalleAlmacenController">
        <div style="height:85px;"></div>
    <a class="item">
            <h2>En Stock:</h2>
            <p>{{datosInventario.OnHand|number:2}}</p>
    </a>  
    <a class="item">
            <h2>Comprometido:</h2>
            <p>{{datosInventario.IsCommited|number:2}}</p>
    </a>  
    <a class="item">
            <h2>Pedido:</h2>
            <p>{{datosInventario.OnOrder|number:fractionSize}}</p>
    </a> 
    <a class="item">
            <h2>Disponible:</h2>
            <p>{{datosInventario.OnHand-datosInventario.IsCommited+datosInventario.OnOrder|number:2}}</p>
    </a> 
     <a class="item">
            <h2>Nivel de Stock Necesario:</h2>
            <p>{{datosInventario.MinOrder|number:fractionSize}}</p>
    </a> 
    <a class="item">
            <h2>Nivel de Stock Mínimo:</h2>
            <p>{{datosInventario.MinStock|number:fractionSize}}</p>
    </a> 
    <a class="item">
            <h2>Nivel de Stock Máximo:</h2>
            <p>{{datosInventario.MaxStock|number:fractionSize}}</p>
    </a> 

</ion-view>