<ion-view name="detallealmacen-view" ng-init="Inicio()">
    <a class="item">
            <h2>Detalle Almacen:</h2>
            <p>{{datosInventario.AvgPrice}}</p>
    </a>  
    <a class="item">
            <h2>Código Proveedor:</h2>
            <p>{{datosInventario.CardCode}}</p>
    </a>  
    <a class="item item-icon-left" style="padding-top:20px;" href="#/articulo/almacenes" ng-click="LargoCarta('listaalmacenes')">
        <i class="icon ion-cube"></i>
        Almacenes
    </a>

</ion-view>