<ion-content style="background-color:white;" ng-controller="DetalleAlmacenController">
        <div class="ion-header-bar">
            <button class="button button-clear button-light" ng-click="ModalDetalleAlmacen.hide();">
                <i class="icon ion-close"></i>
            </button>
        </div>

    <div class="banner-almacen">Almacén 01</div>
    <a class="item">
            <h2>En Stock:</h2>
            <p>{{datosInventario.OnHand}}</p>
    </a>  
    <a class="item">
            <h2>Comprometido:</h2>
            <p>{{datosInventario.IsCommited}}</p>
    </a>  
    <a class="item">
            <h2>Pedido:</h2>
            <p>{{datosInventario.OnOrder}}</p>
    </a> 
    <a class="item">
            <h2>Disponible:</h2>
            <p>{{datosInventario.OnHand-datosInventario.IsCommited+datosInventario.OnOrder}}</p>
    </a> 
     <a class="item">
            <h2>Nivel de Stock Necesario:</h2>
            <p>{{datosInventario.MinOrder}}</p>
    </a> 
    <a class="item">
            <h2>Nivel de Stock Mínimo:</h2>
            <p>{{datosInventario.MinStock}}</p>
    </a> 
    <a class="item">
            <h2>Nivel de Stock Máximo:</h2>
            <p>{{datosInventario.MaxStock}}</p>
    </a> 

</ion-view>