<div class="bar bar-header bar-dark" style="background-color:black">
        <i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalListaPrecios.hide();"></i>
        <h2 class="title" style="font-size:16px; text-align:left; margin-left:15%;">Lista de Precios</h2>
</div>
<div class="bar bar-subheader bar-dark" style="background-color:#222323;" ng-controller="ListaPreciosController">    
        <h1 class="title" style="text-align:left; margin-left:15%; font-size:16px;">{{Articulo.ItemCode}}</h1>
</div>
<ion-content style="background-color:white;" ng-controller="ListaPreciosController">
        <div style="height:85px;"></div>
    <!--
    <a class="item">
            <h2>Costo Base:</h2>
            <p>$ {{listaPrecios[3].Price|number:2}}</p>
    </a>  -->
    <a class="item item-text-wrap">
            <h2>Hotelería:<span style="color:gray">    $ {{listaPrecios[1].Price|number:2}} {{listaPrecios[1].Currency}}</span></h2>
    </a>  
    <a class="item item-text-wrap">
            <h2>Residencial:<span style="color:gray">    $ {{listaPrecios[0].Price|number:2}} {{listaPrecios[0].Currency}}</span></h2>
    </a>   
    <a class="item item-text-wrap">
            <h2>Mayoristas:<span style="color:gray">    $ {{listaPrecios[2].Price|number:2}} {{listaPrecios[2].Currency}}</span></h2>
    </a>   
    <a class="item item-text-wrap">
            <h2>Dues Bending:<span style="color:gray">    $ {{listaPrecios[7].Price|number:2}} {{listaPrecios[7].Currency}}</span></h2>
    </a>   
    <a class="item item-text-wrap">
            <h2>Dues Drapes:<span style="color:gray">    $ {{listaPrecios[6].Price|number:2}} {{listaPrecios[6].Currency}}</span></h2>
    </a>   
    <a class="item item-text-wrap">
            <h2>Precios Coppel:<span style="color:gray">    $ {{listaPrecios[5].Price|number:2}} {{listaPrecios[5].Currency}}</span></h2>
    </a>
    <a class="item item-text-wrap">
            <h2>Lista de Precio Proveedor<span style="color:gray">    $ {{listaPrecios[4].Price|number:2}} {{listaPrecios[4].Currency}}</span></h2>
    </a>
</ion-view>