<ion-content style="background-color:white;" ng-controller="ListaPreciosController">
        <div class="ion-header-bar">
                <button class="button button-clear button-light" ng-click="ModalListaPrecios.hide();">
                <i class="icon ion-close"></i>
                </button>
        </div>

    <a class="item">
            <h2>Costo Base:</h2>
            <p>{{listaPrecios[3].Price}}</p>
    </a>  
    <a class="item">
            <h2>Hotelería:</h2>
            <p>{{listaPrecios[1].Price}}</p>
    </a>  
    <a class="item">
            <h2>Residencial:</h2>
            <p>{{listaPrecios[0].Price}}</p>
    </a>   
    <a class="item">
            <h2>Mayoristas:</h2>
            <p>{{listaPrecios[2].Price}}</p>
    </a>   
    <a class="item">
            <h2>Dues Bending:</h2>
            <p>{{listaPrecios[7].Price}}</p>
    </a>   
    <a class="item">
            <h2>Dues Drapes:</h2>
            <p>{{listaPrecios[6].Price}}</p>
    </a>   
    <a class="item">
            <h2>Precios Coppel:</h2>
            <p>{{listaPrecios[5].Price}}</p>
    </a>
    <a class="item">
            <h2>Lista de Precio Proveedor</h2>
            <p>{{listaPrecios[4].Price}}</p>
    </a>
</ion-view>