<ion-content style="background-color:white;" ng-controller="ListaPreciosController">
        <div class="bar bar-header bar-dark" style="background-color:black">
                <i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalListaPrecios.hide();"></i>
                <h2 class="title" style="font-size:16px; text-align:left; margin-left:15%;">Datos de Compra</h2>
        </div>
        <div class="bar bar-subheader bar-dark" style="background-color:#222323;">    
                <h1 class="title" style="text-align:left; margin-left:15%; font-size:16px;">{{Articulo.ItemCode}}</h1>
        </div>
        <div style="height:85px;"></div>

    <a class="item">
            <h2>Costo Base:</h2>
            <p>$ {{listaPrecios[3].Price|number:2}}</p>
    </a>  
    <a class="item">
            <h2>Hotelería:</h2>
            <p>$ {{listaPrecios[1].Price|number:2}}</p>
    </a>  
    <a class="item">
            <h2>Residencial:</h2>
            <p>$ {{listaPrecios[0].Price|number:2}}</p>
    </a>   
    <a class="item">
            <h2>Mayoristas:</h2>
            <p>$ {{listaPrecios[2].Price|number:2}}</p>
    </a>   
    <a class="item">
            <h2>Dues Bending:</h2>
            <p>$ {{listaPrecios[7].Price|number:2}}</p>
    </a>   
    <a class="item">
            <h2>Dues Drapes:</h2>
            <p>$ {{listaPrecios[6].Price|number:2}}</p>
    </a>   
    <a class="item">
            <h2>Precios Coppel:</h2>
            <p>$ {{listaPrecios[5].Price|number:2}}</p>
    </a>
    <a class="item">
            <h2>Lista de Precio Proveedor</h2>
            <p>$ {{listaPrecios[4].Price|number:2}}</p>
    </a>
</ion-view>