<ion-view name="login-view">
  <ion-content class="padding">
        <div class="row responsive-md">
          <div class="col"></div>
          <div class="col">
            <div class="card">
              <div class="item item-text-wrap">
                  <div class="row">
                      <div class="card col-25" style="margin-right:10px;">
                        <center><img src="img/icono-scanner.png" alt="" style="width: 60%;"></center>
                        <button class="button button-block button-small button-dark activated" ng-click="Escanear()">Consultar Producto</button>
                      </div>
                      <div class="card col-25 col-offset-25">
                        <center><img src="img/icono-inventario.png" alt="" style="width: 60%;"></center>
                        <button class="button button-block  button-small button-dark activated" ng-click="BtnTomaInventario()">Toma de inventario</button>
                      </div>
                  </div>
                  <div class="row">
                    <div class="card col-25">
                        <center><img src="img/icono-busqueda.png" alt="" style="width: 30%;"></center>
                        <button class="button button-block button-small button-dark activated" ng-click="BtnBuscarArticulo()">Buscar Artículo</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
  </ion-content>
</ion-view>