<ion-view name="menuarticulo-view">    
        <a class="item item-icon-left" href="#/articulo/datosgenerales">
            <i class="icon ion-navicon-round"></i>
            Datos Generales
        </a>
    
        <a class="item item-icon-left" href="#/articulo/datosventa">
            <i class="icon ion-pricetag"></i>
            Datos de Venta
        </a>
    
        <a class="item item-icon-left" href="#/articulo/datoscompra">
            <i class="icon ion-ios-cart"></i>
            Datos de Compra
        </a>
    
        <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-browsers"></i>
            Datos de Inventario
        </a>

        <a class="item item-icon-left" href="#/articulo/datosventa">
            <i class="icon ion-cash"></i>
            Lista de Precios
        </a>
</ion-view>