<ion-view name="menuarticulo-view">    
        <a class="item item-icon-left" ng-click="LargoCarta('datosGenerales')">
            <i class="icon ion-navicon-round"></i>
            Datos Generales
        </a>
    
        <a class="item item-icon-left" ng-click="LargoCarta('datosVenta')">
            <i class="icon ion-pricetag"></i>
            Datos de Venta
        </a>
    
        <a class="item item-icon-left" ng-click="LargoCarta('datosCompra')">
            <i class="icon ion-ios-cart"></i>
            Datos de Compra
        </a>
    
        <a class="item item-icon-left" ng-click="LargoCarta('datosInventario')">
            <i class="icon ion-ios-browsers"></i>
            Datos de Inventario
        </a>

        <a class="item item-icon-left" ng-click="LargoCarta('listaPrecios')">
            <i class="icon ion-cash"></i>
            Lista de Precios
        </a>
</ion-view>