<div ng-controller="BuscarArticuloController">
<div class="bar bar-header item-input-inset">
    <button style="margin-left:-2%;" class="button button-icon ion-chevron-left" ng-click="ModalBuscarProducto.hide();"></button>  
  <!--<i style="width:4%;" class="button button-icon ion-chevron-left" ng-click="ModalBuscarProducto.hide();"></i>-->
    <label class="item-input-wrapper"  style="margin-left:1%;">
      <input type="search" placeholder="Buscar" ng-model="searchQuery" ng-enter="IniciarBusqueda(searchQuery);">
    </label>
    <button class="button icon ion-ios-search" ng-click="IniciarBusqueda(searchQuery);" style="border: 1px solid lightgray"></button>
</div>
<div class="bar" style="height:45px; overflow:hidden;">
  <ion-radio style="width:52%; height: auto; margin-top: -15px;" ng-model="opcionBusqueda" ng-value="'codigo'">Código</ion-radio>
  <ion-radio style="width:52%; height: auto; margin-top: -15px;" ng-model="opcionBusqueda" ng-value="'descripcion'">Descripción</ion-radio>
</div>
<ion-content style="background-color:white; margin-top:50px;">
    <div style="height: 36px"></div>
    <div class="list list-inset">
      <!-- div con imágen de inicio en pantalla de búsqueda -->
      <div class="item" id="divteclado" ng-show="mostrarDivTeclado">
        <center>
            <img src="img/teclado.jpg" alt="" style="width:40%;">
            <p>Teclea un producto en la barra de búsqueda</p>
        </center>
      </div>
      <!-- div con imágen para búsquedas sin resultados -->
      <div class="item" id="divnoencontrado" ng-show="mostrarDivNoEncontrado">
          <center>
              <img src="img/noencontrado.png" alt="" style="width:40%;">
              <p>No se encontraron resultados</p>
          </center>
        </div>
      <!-- Lista de artículos encontrados -->
      <div class="item item-text-wrap" ng-repeat="articulo in Articulos" ng-click="agregarModal(articulo)">
        <b>{{articulo.ItemCode}}</b><br>
        {{articulo.ItemName}}
      </div>
      <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="Buscar(searchQuery)" distance="1%"></ion-infinite-scroll>
    </div>
</ion-content>
</div>