<div class="modal" style="height: 100px;">

    <!-- Barra con tìtulo y botón de salir-->
    <ion-header-bar class="bar-secondary">
        <center>
            <h1 class="title" style="position: absolute;">Producto</h1>
            <button class="button button-clear button-light" ng-click="ModalAgregarProducto.hide()"><i class="icon ion-close"></i></button>
        </center>
    </ion-header-bar>
    <ion-content>
        <!-- Div que contiene la imagen, descripciòn, Còdigo SAP y Barras-->
        <div class="item item-thumbnail-left item-text-wrap" style="text-align: justify;">
            <img src="{{member.ImagenBase64}}" alt="">
            
            <p><b>Código SAP:</b></p>
            <p>{{member.ItemCode}}</p>
            <p><b>Código de barras:</b></p>
            <p>{{member.Codebars}}</p>
            <p><b>Descripción:</b></p>
            <p>{{member.ItemName}}</p>
        </div>

        <div style="margin-left:2%; margin-right:2%;">
            <br>
            <p>Cantidad:</p>
            <input ng-model="member.Cantidad" type="number" placeholder="Cantidad" style="border-bottom:2px solid #39B6B6; width:100%;">
            <br><br>
            <p style="float:left;">Nombre Lote:</p>
            <label style="float:right;">Administración por Lotes</label>
            <input type="checkbox" style="float:right; margin-right:2%;" ng-model="checkLote" ng-change="member.NombreLote=null">
            <input ng-model="member.NombreLote" type="text" placeholder="Nombre Lote" style="border-bottom:2px solid #39B6B6; width:100%;" ng-disabled="!checkLote">
        </div>

    </ion-content>

    <!-- Botones de Cancelar y Agregar-->
    <div class="bar bar-footer">
        <button class="button button-assertive" style="width:48%; font-size: 1.1em;" ng-click="ModalAgregarProducto.hide()"> <b>Cancelar</b></button>
        <button class="button button-balanced" style="width:48%; font-size: 1.1em;" ng-click="btnAgregar()"><b>Aregar</b></button>
    </div>
</div>