/* Empty. Add your own CSS if you like */

/*.LargoCarta{
    min-height: 1213px;
}*/

/* Estilos para el float button */
.float-button {
 
    background-color:#00CC00;
    opacity: 1;
    color: white;
    border-radius: 50%;
    /*border-radius:15% 0 0 0;*/
    width: 30px;
    padding: 25px;
    font-size: 40px;
    position: fixed;
    bottom: 8%; /* Adjust height */
    right: 80%; /* Adjust position */
    z-index: 1000;
    }
     
    .float-button .height_fix {
      margin-top: 100%;
      border: 1px solid red;
    }
     
    .float-button .content {
      position: absolute;
      left: 0;
      top: 50%;
      height: 100%;
      width: 100%;
      text-align: center;
      margin-top: -20px;
      color: white;
    }

  .mostrar{
    display: block;
  }

  .oculto{
    display: none;
  }

  .button-capturar{
    background: white;
    border: 1px solid black;
  }

  .button-cancelar{
    color: red;
    background: transparent;
  }

  .button-confirmar{
    color: #00CC00;
    background: transparent;
  }
  .cuadro{
    width:30px;
    height: 30px; 
    background-color: black;
    float:left; border-radius: 5px; 
    color:white; 
    text-align: center;
    padding-top:2%;
    margin-top: -2%;
    font-weight: bold;
  }
  .banner-almacen{
    height:45px; 
    width:100%;
    background-color:black;
    color:white; 
    margin-top:20px; 
    font-size: 18px; 
    padding-top:10px;
    padding-left: 20px;
  }
  